.Featured_Wrapper {
    background: url('/images/Pairc-Tailteann.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0 auto;
    max-width: 100%;
    margin-top: 80px;
    height: 500px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.Featured_Cover {
    background: #083512;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    display: inline-block;
    opacity: 0.7;
}