.TheTeam {
    background: url('/images/the_players.png') no-repeat fixed;
    background-size: cover;
    height: 100vh;
    margin-top: 90px;
}

.TheTeam_Cover {
    margin: 0;
    padding: 0;
    background: #083512;
    opacity: 0.75;
    height: 100%;
    width: 100%;
    display: inline-block;
    position: absolute;
    z-index: 1;
}

.TheTeam_Container {
    padding: 50px;
    position: relative;
    z-index: 10;
}

.Tags {
    display: flex;
    flex-direction: column;
}

.Tags Tag {
    width: fit-content;
}