.Stripes_Wrapper {
    margin: 0 auto;
    position: relative;
    max-width: 80%;
    display: flex;
    flex-flow: row nowrap;
    z-index: 10;
}

.Stripe {
    width: 230px;
    height: 1200px;
}

.Stripe_StripeOne {
    background: #259C41;
    width: 230px;
    height: 1200px;
}

.Stripe_StripeTwo {
    background: #FFD306;
    width: 230px;
    height: 1200px;
}

.Stripe_StripeThree {
    background: #259C41;
    width: 230px;
    height: 1200px;
}