.Header {
    position: fixed;
    flex-grow: 1;
    padding: 10px 0;
    background: #259C41;
    width: 100%;
    border-bottom: 3px solid #083512;
}

.Icon {
    flex-grow: 1;
}

.Link:hover {
    color: #FFD306;
}